header {
  padding: 2%;
  background-position: top left;
  display: inline;
}

nav ul li {
  display: inline; /* Displays list items horizontally */
  margin-right: 16%; /* Adjust spacing between menu items */
}

nav ul li a {
  font-family: Arial, sans-serif; /* Change font-family to your desired font */
  font-size: 16px; /* Adjust font size */
  color: #000000; /* Menu item color */
  text-decoration: none; /* Removes underline */
}

nav ul li a:hover {
  color: #ff0000; /* Change color on hover */
}

#logo {
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer; /* Change cursor to pointer on hover */
}
