
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.vidsec a{
    text-decoration: none;
    color: #333;
    text-align: center;
}

.Left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.photos img {
    width: 300px;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.right {
    padding: 20px;
}


h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

h4 {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
}


p {
    margin-bottom: 15px;
    color: #666;
}


p span {
    font-weight: bold;
}


small {
    font-size: 12px;
    color: #666;
}


button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

del{
    padding: 10px;
}
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px; 
}
