
header{
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 9.5%;
    background: #fff;
    box-shadow: 0 0 5px rgba(190,190 ,190 ,0.5 ),
    0 0 10px rgba(190,190 ,190 ,0.5 );
    z-index: 111;
    transition: 0.4s ease;
}

.logo img{
     width: 200px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

nav .navbar {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

nav .navbar ul {
    list-style: none; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

nav .navbar ul li{
    padding: 1.5rem 0.5rem;
}

nav .navbar ul li:hover,
nav .others i:hover{
    color: var(--main-color);
}

nav .navbar .navlinks{
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      position: relative;
}

nav .navbar .navlinks li a{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
}

nav .others{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav .others i{
    font-size: 1.7rem;
    cursor: pointer;
    color: var(--text-color);
}

nav .others .addbut{
    position: relative;
    color: #fff;
    background: var(--main-color);
    padding: 1.2rem 1.5rem;
    font-size: 1.4rem;
    border-radius: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.7s;
}

nav .others .addbut i,
nav .others .addbut i:hover{
    color: #fff;
    padding-right: 0.5rem;
}

#menubut{
font-size: 3.5rem;
}